#outside {
  z-index:1; 
  position:absolute; 
  left:275px; 
  top:75px; 
  text-align:center;
  transition:1s;
  transform-origin:0; 
  background-color:blue; 
  width:300;
  height:224; 
  text-align:center; 
} 
.open-card{
	transform:rotateY(90deg); 
} 
#inside{ 
	z-index:0; 
	position:absolute;
	left:275px; 
	top:75px; 
	text-align:center;
	transition:1s;
	transform-origin:0; 
	background-color:blue; 
	width:300;
	height:300; 
	text-align:center; 
} 
#outside-title { 
	color:red; 
	font-size: 30; 
	font-family: Tahoma; 
}
#outside-pic{
	color:black; 
	font-size: 30;
	font-family: Tahoma;
	width:300;
	height:300; 
} 
#inside-title {
	color:red; 
	font-size: 30; 
	font-family: Tahoma;
} 
#inside-pic{
	color:black;
	font-size: 30; 
	font-family: Tahoma;
	width:300;
	height:224;
} 
#message {
	color:black; 
	font-size: 20; 
	font-family: Tahoma;
} 
button {
	background:red; 
} 

  